<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fer.PracticaViewpagerTabsyFragments">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
     CAMBIAMOS EL LAUNCHMODE DE MAINACTIVITY A SINGLETOP PARA QUE SE CARGUE LA INSTANCIA
     QUE YA HAY EN MEMORIA Y NO SE REINICIE MAIN ACTIVITY AL HACER BACK AL PARENT DESDE LA TOOLBAR DE LA
     SEGUNDA ACTIVIDAD
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
         Ahora indicamos cual es el parent de .Ultimas5Mascotas para la navegación hacia atrás

         (Botón "arriba" XD de la toolbar superior):
        -->

        <activity
            android:name=".Ultimas5Mascotas"
            android:parentActivityName=".MainActivity">

            <!-- Y AÑADIMOS COMPATIBILIDAD PARA ANDROID <= 4.0: -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fer.PracticaViewpagerTabsyFragments.MainActivity" />
        </activity>
        <activity android:name=".BioDesarrollador" />
        <activity android:name=".FormularioContacto"></activity>
    </application>

</manifest>